<app-header [hasBack]="1" [headerTitle]="'my_points'|translate"></app-header>
<div class="user-info">
  <img src="{{userInfo.imagePath}}">
  <div class="content">
    <span class="nickname">{{userInfo.nickname}}</span>
    <span class="point">{{userInfo.credits}}{{'integral'|translate}}</span>
  </div>
</div>
<div class="hack"></div>
<h5>{{'points_of_balance'|translate}}</h5>
<ul class="list">
  <li *ngFor="let record of pointRecords">
    <div class="point-detail">
      <p>{{record.actionMsg}}</p>
      <span>{{record.updateTime}}</span>
    </div>
    <span class="point-change">
				<span>{{ record.increaseCredit > 0 ? '+'+record.increaseCredit : record.increaseCredit}}</span>
    </span>
  </li>
</ul>
<div *ngIf="pointRecords.length===0" class="no-content">
  {{'no_data'|translate}}
</div>