<app-header [hasBack]="true" [headerTitle]="'message'|translate" [hasBottom]="1"></app-header>
<div class="message-total" [style.background]="msgBg">
  <app-load-and-refresh [url]="'/api/account/messagegather'" [body]="loadBody" [disabledLoad]="true" (onRefresh)="refreshData($event)">
    <div class="load-and-refresh-content">
      <ul>
        <li *ngFor="let item of message">
          <div class="img-box">
            <img src="assets/img/product.png" *ngIf="item.resourceType===1">
            <img src="assets/img/articleList.png" *ngIf="item.resourceType===2">
            <img src="assets/img/system.png" *ngIf="item.resourceType===3">
          </div>
          <div class="containers" [routerLink]="['/mine/message-detail', item.resourceType]">
            <div class="title">
              <h4>{{item.title}}</h4>
              <b *ngIf="item.haveRead==0"></b>
              <span>{{item.updateTime}}</span>
            </div>
            <p class="line-camp">{{item.content}}</p>
          </div>
          <div class="delete-btn" (click)="deleteMessage(item.resourceType)">
            {{'delete'| translate}}
          </div></li>
      </ul>
      <div class="no-content" *ngIf="message.length===0">
        {{'no_data'|translate}}
      </div>
    </div>
  </app-load-and-refresh>
</div>