<div [@flyIn]="list">
  <app-header [hasBack]="true">
    <div class="header-content">
      <form>
        <input placeholder="{{'enter_search_content'|translate}}" [(ngModel)]="loadBody.keyword" name="keyword">
        <span (click)="search(lineLeaveLeft)">{{'title_activity_search'|translate}}</span>
      </form>
    </div>
  </app-header>
  <ul class="menu">
    <!--下划线-->
    <li class="menu-line" [style.left.rem]="lineLeaveLeft"></li>
    <li (click)="lineLeaveLeft=0" [ngClass]="{active: lineLeaveLeft===0}">
      <b class="product" (click)="classic=!classic;" [ngClass]="{down: !classic,up: classic}">
        <span *ngIf="loadBody.type==1">{{'product' | translate}}</span>
        <span *ngIf="loadBody.type==2">{{'promotions' | translate}}</span>
        <span *ngIf="loadBody.type==3">{{'integral' | translate}}</span>
      </b>
      <ul class="classic" *ngIf="classic">
        <li (click)="choseType('1')">{{'product' | translate}}</li>
        <li (click)="choseType('2')">{{'promotions' | translate}}</li>
        <li (click)="choseType('3')">{{'integral' | translate}}</li>
      </ul>
    </li>
    <li (click)="search(2)" [ngClass]="{active: lineLeaveLeft===2,up: timeDirection===1||!timeDirection,down: timeDirection===2}">{{'time' | translate}}</li>
    <li (click)="search(4)" [ngClass]="{active: lineLeaveLeft===4,up: saleDirection===1||!saleDirection,down: saleDirection===2}">{{'sale_value' | translate}}</li>
    <li (click)="search(6)" [ngClass]="{active: lineLeaveLeft===6,up: priceDirection===1||!priceDirection,down: priceDirection===2}">{{'prize' | translate}}</li>
    <li (click)="listDisBlock=!listDisBlock" [ngClass]="{listbtn: !listDisBlock,blockbtn: listDisBlock}"></li>
  </ul>
  <div class="seat"></div>
  <app-load-and-refresh [url]="'/api/product/list'" [body]="loadBody" (onRefresh)="refreshData($event)" (onload)="loadData($event)" [dataKey]="'products'">
    <div class="load-and-refresh-content">
      <app-product-list [productList]="list" [disBlock]="listDisBlock" *ngIf="list.length!==0;else elseBlock"></app-product-list>
      <ng-template #elseBlock>
        <div class="no-content">{{'no_data' | translate}}</div>
      </ng-template>
    </div>
  </app-load-and-refresh>
</div>