@pan-width: 10rem;
@pan-height: 7.31rem;
.pan-wrap{
	height: @pan-height;
	width: @pan-width;
	overflow: hidden;
	margin-bottom: .5rem;
	.pan-box{
		height: @pan-height;
		position: relative;
		&.slide-transition{
			transition-duration: .1s;
		}
		.img-box{
			touch-action: pan-x;
			width: @pan-width;
			height: @pan-height;
			display: inline-block;
			img{
				width: @pan-width;
				height: @pan-height;
			}
		}
	}
}