<div class="enter">
	<app-header [hasBack]="true" [headerTitle]="title"></app-header>
	<form name="loginForm">
		<div class="error-box"></div>
		<!--手机号-->
		<input type="text" placeholder="{{'please_input_mobile'|translate}}" required autofocus="autofocus" maxlength="11" minlength="10"
		 [(ngModel)]="regForm.mobile" id="mobile" name="mobile" #mobile="ngModel" (blur)="checkMobile()">
		<div class="error-box">
			<div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)">
				<span [hidden]="!mobile.errors.required">{{'mobile_must_not_null' | translate}}</span>
				<span [hidden]="!mobile.errors.minlength">{{'please_input_real_mobile' | translate}}</span>
				<span [hidden]="!mobile.errors.maxlength">{{'please_input_real_mobile' | translate}}</span>
			</div>
		</div>
		<!--昵称-->
		<div [ngClass]="{hide: tag===-1}">
			<input type="text" placeholder="{{'please_input_nick_name'|translate}}" required maxlength="12" minlength="2" [(ngModel)]="regForm.nickname"
			 id="nickname" name="nickname" #nickname="ngModel">
			<div class="error-box">
				<div *ngIf="nickname.errors && (nickname.dirty || nickname.touched)">
					<span [hidden]="!nickname.errors.required">{{'nickname_must_not_null' | translate}}</span>
					<span [hidden]="!nickname.errors.minlength">{{'nickname_must_between' | translate}}</span>
					<span [hidden]="!nickname.errors.maxlength">{{'nickname_must_between' | translate}}</span>
				</div>
			</div>
		</div>
		<!--密码-->
		<div class="pass">
			<input type="{{passWordInputType}}" placeholder="{{'please_input_password'|translate}}" required="required" [(ngModel)]="regForm.password"
			 id="password" name="password" #password="ngModel">
			<a (click)="passWordInputType = (passWordInputType === 'password' ? 'text' : 'password')" [ngClass]="{active: passWordInputType==='text'}"></a>
			<div class="error-box">
				<div *ngIf="password.errors && (password.dirty || password.touched)">
					<span [hidden]="!password.errors.required">{{'password_must_not_null' | translate}}</span>
					<span [hidden]="!password.errors.minlength">{{'password_must_be_greater_than' | translate}}</span>
					<span [hidden]="!password.errors.maxlength">{{'password_must_between' | translate}}</span>
				</div>
			</div>
		</div>
		<!--验证码-->
		<div class="code">
			<input type="text" placeholder="{{'please_input_captcha'|translate}}" required="required" [(ngModel)]="regForm.captcha" id="captcha"
			 name="captcha" #captcha="ngModel">
			<a (click)="getCaptcha()">{{getcaptchaTxt}}</a>
			<div class="error-box">
				<div *ngIf="captcha.errors && (captcha.dirty || captcha.touched)">
					<span [hidden]="!captcha.errors.required">{{'verification_code_cannot_be_empty' | translate}}</span>
				</div>
			</div>
		</div>
		<div>
			<button *ngIf="tag>-1" class="btn" (click)="reg()" [disabled]="mobile.errors||nickname.errors||password.errors||captcha.errors">{{btnTxt}}</button>
			<button *ngIf="tag===-1" class="btn" (click)="updatePassWord()" [disabled]="mobile.errors||password.errors||captcha.errors">{{btnTxt}}</button>
		</div>
	</form>
</div>