<div class="login-main enter">
	<app-header [hasBack]="true" [headerTitle]="'title_activity_login'|translate"></app-header>
	<form name="loginForm">
		<div class="error-box"></div>
		<!--手机号-->
		<input type="text" placeholder="{{'please_input_mobile'|translate}}" class="mobile" required autofocus="autofocus" maxlength="11" minlength="10" [(ngModel)]="loginForm.mobile" id="mobile" name="mobile" #mobile="ngModel">
		<div class="error-box">
			<div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)">
				<span [hidden]="!mobile.errors.required">{{'mobile_must_not_null' | translate}}</span>
				<span [hidden]="!mobile.errors.minlength">{{'please_input_real_mobile' | translate}}</span>
				<span [hidden]="!mobile.errors.maxlength">{{'please_input_real_mobile' | translate}}</span>
			</div>
		</div>
		<!--密码-->
		<input type="password" placeholder="{{'please_input_password'|translate}}" class="password" required="required" minlength="6" maxlength="12" [(ngModel)]="loginForm.password" id="password" name="password" #password="ngModel">
		<div class="error-box">
			<div *ngIf="password.errors && (password.dirty || password.touched)">
				<span [hidden]="!password.errors.required">{{'password_must_not_null' | translate}}</span>
				<span [hidden]="!password.errors.minlength">{{'password_must_be_greater_than' | translate}}</span>
				<span [hidden]="!password.errors.maxlength">{{'password_must_between' | translate}}</span>
			</div>
		</div>
		<div><button class="btn" (click)="login()" [disabled]="mobile.errors||password.errors">{{'title_activity_login'|translate}}</button></div>
	</form>
	<div class="entry-btn">
		<a [routerLink]="['/'+appTag+'/reg']">{{'registered_account' | translate}}</a>
		<a [routerLink]="['/'+appTag+'/forget']">{{'forget_password' | translate}}</a>
	</div>
</div>