<div class="plus-address-main">
  <!-- 新增收货地址 -->
  <app-header [hasBack]="1">
    <div class="header-content">
      <h2>{{'title_activity_add_newAddress' | translate }}</h2>
    </div>
  </app-header>
  <form name="addressForm" #addressForm="ngForm">
    <div class="plus-add">
      <ul class="list1">
        <li>
          <span>{{'addr_name' | translate}}</span>
          <input placeholder="{{'please_fill_in_the_name_of_the_consignee' |translate}}" [(ngModel)]="addressInfo.consignee" name="name" required>
        </li>
        <li>
          <span>{{'addr_phone' | translate}}</span>
          <input type="number" class="form-control" placeholder="{{'please_contact_the_consignee' | translate}}" [(ngModel)]="addressInfo.mobile" required name="mobile">
        </li>
      </ul>
        <!--选择省-->
      <app-chose-part [prodata]="prodata" [choseData]="addressInfo" (childEvent)="getChildEvent($event)"></app-chose-part>
      <ul class="list2">
        <li>
          <span>{{'detailed_address' | translate}}</span>
          <input placeholder="{{'please_fill_in_the_details' | translate}}" name="detailPart" [(ngModel)]="addressInfo.detail" required>
        </li>
        <li>
          <span>{{'postzip' | translate}}</span>
          <input placeholder="{{'please_input_the_postzip' | translate}}" [(ngModel)]="addressInfo.postcode" name="postCode">
        </li>
      </ul>
      <button (click)="saveAdd()" class="btn" [disabled]="!addressForm.form.valid">{{'save' | translate}}</button>
    </div>
  </form>
</div>
