<div class="mine-main" [style.min-height.px]="minHeight">
  <!--普通会员-->
  <div *ngIf="userInfo.roleTag=='AppUser'" class="common-user">
    <div class="banner">
      <div class="btn">
        <i class="set" [routerLink]="['/mine/app-set']"></i>
        <i class="msg" [routerLink]="['/mine/message']" *ngIf="app.isPush === 1"></i>
      </div>
      <div class="user" [routerLink]="['/mine/set']">
        <div class="img-box">
          <img src="{{userInfo.imagePath}}">
        </div>
        <i [style.background-image]="userInfo.userRankIconPath"></i>
        <span>{{userInfo.nickname}}</span>
      </div>
    </div>
    <ul class="info">
      <li [routerLink]="['/mine/comment']" [queryParams]="{type: 'product'}">
        <span>{{userInfo.commentNum}}</span>
        <span>{{'commint_num'|translate}}</span>
      </li>
      <li [routerLink]="['/mine/point']">
        <span>{{userInfo.credits}}</span>
        <span>{{'integral_num'|translate}}</span>
      </li>
      <li [routerLink]="['/mine/growth']">
        <span>{{userInfo.growthScore}}</span>
        <span>{{'growth_num'|translate}}</span>
      </li>
    </ul>
    <ul class="menu">
      <li class="bottom" [routerLink]="['/mine/order']">
        <i class="order"></i>
        <span>{{'my_order'|translate}}</span>
        <a></a>
      </li>
      <li *ngIf="app.isBranch==1" [routerLink]="['/mine/guide']">
        <i class="guide"></i>
        <span>{{'my_shopping_guide'|translate}}</span>
        <a></a>
      </li>
      <li class="line" *ngIf="app.isBranch==1">
        <div></div>
      </li>
      <li class="bottom" [routerLink]="['/mine/address', userInfo.userId]">
        <i class="address"></i>
        <span>{{'receipt_address'|translate}}</span>
        <a></a>
      </li>
      <li [routerLink]="['/mine/userTopic']">
        <i class="post"></i>
        <span>{{'my_post'|translate}}</span>
        <a></a>
      </li>
      <li class="line">
        <div></div>
      </li>
      <li [routerLink]="['/mine/feedback']">
        <i class="message"></i>
        <span>{{'complaints_and_suggestions'|translate}}</span>
        <a></a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo.roleTag=='BranchGuide'||userInfo.roleTag=='BranchAdmin'||userInfo.roleTag=='BranchManager'||userInfo.roleTag=='BranchCashier'"
    class="guide">
    <!-- BranchAdmin：门店管理员 -->
    <!-- BranchManager：分店店长 -->
    <!-- BranchGuide：分店导购 -->
    <!-- BranchCashier：分店收银员 -->
    <div class="banner">
      <div class="btn">
        <ul class="point" *ngIf="userInfo.roleTag=='BranchGuide'">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <i class="info">
					<img src="{{userInfo.imagePath}}" *ngIf="userInfo.roleTag=='BranchGuide'" [routerLink]="['/mine/set']">
					<img src="assets/img/left_nor.png" *ngIf="userInfo.roleTag=='BranchAdmin'||userInfo.roleTag=='BranchManager'||userInfo.roleTag=='BranchCashier'" (click)="out()">
				</i>
        <i class="set" [routerLink]="['/mine/app-set']"></i>
        <i class="msg" [routerLink]="['/mine/message']" *ngIf="app.isPush === 1"></i>
      </div>
      <div class="content">
        <span class="con1" *ngIf="userInfo.roleTag=='BranchGuide'||userInfo.roleTag=='BranchManager'||userInfo.roleTag=='BranchCashier'">
					<span *ngIf="!timeStart">{{'total_income'|translate}}</span>
        </span>
        <span class="con1" *ngIf="timeStart">{{'earnings_period'|translate}}</span>
        <span class="con1" *ngIf="userInfo.roleTag=='BranchAdmin'&&!timeStart">{{'order_total'|translate}}</span>
        <!--产品订单金额-->
        <span class="money">{{sum?sum:0}}</span>
        <!--积分订单-->
        <span class="con2" *ngIf="!timeStart">{{'recent_update'|translate}}{{roleUpdateTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        <span class="con2" *ngIf="timeStart">{{timeStart*1000 | date:'yyyy-MM-dd'}}{{'to'|translate}}{{timeEnd*1000| date:'yyyy-MM-dd'}}</span>
        <span (click)="clearTime()" *ngIf="timeStart" class="clear-time">{{'clear_filter_conditions'|translate}}</span>
      </div>
    </div>
    <div class="my-member" *ngIf="userInfo.roleTag!=='BranchCashier'">
      <span>{{'title_activity_my_member'|translate}}</span>
      <i [routerLink]="['/mine/members']"></i>
    </div>
    <h4>
      <span *ngIf="userInfo.roleTag=='BranchAdmin'">{{'order_statement'|translate}}</span>
      <span *ngIf="userInfo.roleTag=='BranchManager'||userInfo.roleTag=='BranchGuide'||userInfo.roleTag=='BranchCashier'">{{'income_statement'|translate}}</span>
      <span (click)="toCalendar()"><span>{{'screen'|translate}}</span><i></i></span>
    </h4>
    <app-load-and-refresh [url]="url" [body]="body" (onLoad)="loadData($event)" (onRefresh)="refreshData($event)" [dataKey]="dataKey">
      <div class="load-and-refresh-content">
        <ul class="list">
          <li *ngFor="let record of records">
            <img src="{{record.imagePath}}">
            <div class="info">
              <span class="name">{{record.nickname}}</span>
              <span class="price" *ngIf="tag===1"><span>{{'order_amount'|translate}}</span>&yen;{{record.factPrice || record.price}}
              </span>
              <span class="price" *ngIf="tag===2"><span>{{'order_credit'|translate}}</span>{{record.factPrice || record.price}}
              </span>
              <span class="date">{{record.createTime || record.updateTime}}</span>
            </div>
            <span class="detail" *ngIf="userInfo.roleTag!=='BranchAdmin'">+{{record.factPrice || record.money}}</span>
          </li>
        </ul>
        <div *ngIf="records.length===0" class="no-content">{{'no_data'|translate}}</div>
      </div>
    </app-load-and-refresh>
    <div class="hack"></div>
  </div>
  <app-footer></app-footer>