<div class="reset-main enter">
  <app-header [hasBack]="true" [headerTitle]="'reset_password'|translate"></app-header>
  <form name="resetPassWordForm">
    <div class="error-box"></div>
    <input type="password" placeholder="{{'please_input_old_pwd'|translate}}" class="password" required="required" minlength="6"
      maxlength="12" [(ngModel)]="resetForm.passwordOld" id="passwordOld" name="passwordOld" #passwordOld="ngModel">
    <div class="error-box">
      <div *ngIf="passwordOld.errors && (passwordOld.dirty || passwordOld.touched)">
        <span [hidden]="!passwordOld.errors.required">{{'password_must_not_null' | translate}}</span>
        <span [hidden]="!passwordOld.errors.minlength">{{'password_must_be_greater_than' | translate}}</span>
        <span [hidden]="!passwordOld.errors.maxlength">{{'password_must_between' | translate}}</span>
      </div>
    </div>
    <input type="password" placeholder="{{'please_input_new_pwd'|translate}}" class="password" required="required" minlength="6"
      maxlength="12" [(ngModel)]="resetForm.passwordNew" id="passwordNew" name="passwordNew" #passwordNew="ngModel">
    <div class="error-box">
      <div *ngIf="passwordNew.errors && (passwordNew.dirty || passwordNew.touched)">
        <span [hidden]="!passwordNew.errors.required">{{'password_must_not_null' | translate}}</span>
        <span [hidden]="!passwordNew.errors.minlength">{{'password_must_be_greater_than' | translate}}</span>
        <span [hidden]="!passwordNew.errors.maxlength">{{'password_must_between' | translate}}</span>
      </div>
    </div>
    <button class="btn" (click)="reset()" [disabled]="passwordNew.errors||passwordOld.errors">{{'sure_update'|translate}}</button>
  </form>
</div>