<div class="community_index">

  <app-header class="header">
    <div class="header-content">
      {{'forum' | translate}}
    </div>

  </app-header>

  <div class="across-the-line"></div>

  <!--<div class="no-content" *ngIf="data===undefined||data.length<=0">{{'no_data' | translate}}</div>-->

  <app-load-and-refresh [url]="'/api/forum/list'" [body]="loadBody" (onRefresh)="loadData($event)" (onLoad)="loadData($event)">
    <div class="load-and-refresh-content">

      <ul>
        <li *ngFor="let item of data;let i = index" [routerLink]="['/'+appTag+'/community/sublist',item.id]">
          <div>
            <img src={{item.imagePath}} />
          </div>
          <div>
            <div>{{item.name}}</div>
            <div>{{item.summary}}</div>
            <div>
              <img *ngFor="let member of item.members;let k = index" src={{member.userImagePath}} width="0.86rem" height="0.86rem" />
              <span>{{item.memberNum}}{{ 'number_of_participants' | translate}}&nbsp;></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </app-load-and-refresh>



</div>


<app-footer></app-footer>