<div class="seat"></div>
<footer>
  <ul class="clear">
    <li [routerLink]="['/index']" routerLinkActive="active">
      <span>{{'home_page' | translate}}</span>
    </li>
    <li [routerLink]="['/product']" routerLinkActive="active">
      <span>{{'category' | translate}}</span>
    </li>
    <li [routerLink]="['/community']" routerLinkActive="active">
      <span>{{'forum' | translate}}</span>
    </li>
    <li [routerLink]="['/article']" routerLinkActive="active">
      <span>{{'article' | translate}}</span>
    </li>
    <li [routerLink]="['/mine']" routerLinkActive="active">
      <span>{{'mine' | translate}}</span>
    </li>
  </ul>
</footer>
