<div class="seat"></div>
<footer>
  <ul class="clear">
    <li [routerLink]="['/'+appTag+'/index']" routerLinkActive="active">
      <span>{{'home_page' | translate}}</span>
    </li>
    <li [routerLink]="['/'+appTag+'/product']" routerLinkActive="active">
      <span>{{'category' | translate}}</span>
    </li>
    <li [routerLink]="['/'+appTag+'/community']" routerLinkActive="active">
      <span>{{'forum' | translate}}</span>
    </li>
    <li [routerLink]="['/'+appTag+'/article']" routerLinkActive="active">
      <span>{{'article' | translate}}</span>
    </li>
    <li [routerLink]="['/'+appTag+'/mine']" routerLinkActive="active">
      <span>{{'mine' | translate}}</span>
    </li>
  </ul>
</footer>
