<div [@flyIn]="detail" class="main">
  <app-header [hasBack]="1" [hasCar]="1">
    <div class="header-content">
      <h2>产品详情</h2>
    </div>
  </app-header>
  <app-carousel [width]="10" [height]="7.31" [interval]="3000" [data]="carousel"></app-carousel>
  <div *ngIf="detail" class="detail">
    <h2>{{detail.name}}</h2>
    <p>{{detail.summary}}</p>
    <span class="price">{{detail.price}}</span>
  </div>
  <div class="bar">
    <span>已选</span>
    <span class="chosed">白色,1件</span>
    <i></i>
  </div>
</div>
