<div class="load-and-refresh-wrap" (panstart)="panstart($event)" (pandown)="pandown($event)" (panend)="panend($event)" [style.padding-bottom.rem]="disabledLoad?0:0.2">
  <div class="refresh" [style.top.rem]="refresh_leaveTop">
    <i class="fa fa-refresh" aria-hidden="true" [ngClass]="{rotateLoader: refresh_ajax}"></i>
  </div>
  <ng-content select=".load-and-refresh-content"></ng-content>
  <div [class]="load_class">
    <p>&nbsp;</p>
    <img src="assets/loading.gif">
  </div>
  <p *ngIf="load_no_data">&nbsp;</p>
  <p *ngIf="load_no_data">{{'no_more_data' | translate}}</p>
</div>