<div>
  <div class="refresh-content">

    <!--<div class="no-content" *ngIf="datas===undefined||datas.length<=0">{{'no_data' | translate}}</div>-->

    <app-load-and-refresh [url]="'/api/forum/topics'" [body]="loadBody" (onRefresh)="refreshData($event)" (onLoad)="loadData($event)" [dataKey]="'topics'">
      <div class="load-and-refresh-content">
        <ul>
          <li *ngFor="let data of datas;let i = index">

            <div class="item-topic" [routerLink]="['/' + appTag + '/community/topicDetail/',data.id]">

              <div class="top">
                <img class="headerImage" [src]="data.userImage" width="0.96rem" height="0.96rem" />
                <div class="userName">{{data.nickname}}</div>
                <img class="levelImg" [src]="data.iconImage" alt="" width="30px" height="22px">
              </div>

              <div class="detail">
                <div *ngIf="data.top===1"></div> <span>{{data.name}}</span>
                <p>{{data.detail}}</p>
              </div>

              <div *ngIf="data.albumImages.length>0" class="images">
                <div *ngFor="let image of data.albumImages;let i=index">
                  <img (click)="viewBigPicture($event,data.albumImages,i)" *ngIf="i<3" [src]="image" alt="" />
                </div>
              </div>

              <div class="bottom">
                <span>{{data.createTime}}</span>
                <div class="right">
                  <i [ngClass]="{zanNor:!data.haveThumb,zanSel:data.haveThumb}" (click)="clickZan($event,data.id,i)"></i><span>{{data.thumbNum}}</span><i></i><span>{{data.commentNum}}</span>
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </app-load-and-refresh>
  </div>
</div>

<app-big-view *ngIf="albumImages&&albumImages.length>0" [images]="albumImages" [position]="position" (click)="albumImages=[]"></app-big-view>