<div class="item-topic">

  <div class="top">
    <img class="headerImage" [src]="data.userImage" width="0.96rem" height="0.96rem" />
    <div class="userName">{{data.nickname}}</div>
    <img class="levelImg" [src]="data.iconImage" alt="" width="30px" height="22px">
  </div>

  <div class="detail">
    <div></div> <span>{{data.name}}</span>
    <p>{{data.detail}}</p>
  </div>

  <div *ngIf="data.albumImages.length>0" class="images">
    <div *ngFor="let image of data.albumImages;let i=index">
      <img (click)="viewBigPicture($event,data.albumImages)" *ngIf="i<3" [src]="image" alt="" />

    </div>

  </div>

  <div class="bottom">
    <span>{{data.createTime}}</span>
    <div class="right">
      <i></i><span>{{data.thumbNum}}</span><i></i><span>{{data.commentNum}}</span>
    </div>
  </div>

</div>

<app-big-view [images]="data.albumImages"></app-big-view>