<div class="wrap">
  <!-- Routed views go here -->
  <router-outlet></router-outlet>
  <app-loader></app-loader>
  <app-footer></app-footer>
</div>

<!--<h1 i18n="User welcome|An introduction header for this sample">Hello i18n!</h1>
<ng-container i18n>I don't output any element</ng-container>
<br />-->

<!--i18n: optional meaning|optional description -->
<!--I don't output any element either-->
<!--/i18n-->

<!--<br />
<img [src]="logo" i18n-title title="Angular logo" />
<br>
<span i18n>The hero is {gender, select, m {male} f {female}}</span>
<br>-->