<app-full-shadow [show]="toggle" (outShadowToggleValue)="outShadowToggleValue($event)">
  <div class="shadow-content">
    <div *ngIf="toggle" class="guide-con" (swipeleft)="guidesSwipeLeft($event)" (swiperight)="guidesSwipeRight($event)" [style.transform]="guidesConTranslateLeft">
      <div class="guide" *ngFor="let guide of guides">
        <h5>{{guide.nickname}}</h5>
        <i></i>
        <img src="{{guide.imagePath}}" (click)="chooseGuide(guide.id)">
        <button (click)="chooseGuide(guide.id)">{{'select_TA'|translate}}</button>
      </div>
    </div>
  </div>
</app-full-shadow>