
<ul class="product-list clear" [ngClass]="{listdis:!disBlock,blockdis:disBlock}" *ngIf="!productType">
	<!--<li *ngIf="searchList.length===0" style="text-align: center;">没有相应的搜索结果</li>-->
	<li *ngFor="let data of productList;let $index=index">
		<i *ngIf="data.isHot==1&&data.type==1" class="hot-icon"></i>
		<i *ngIf="data.isNew==1&&data.type==1" class="new-icon"></i>
		<img [defaultImage]="defaultImage" [lazyLoad]="data.imagePath" [offset]="100" [routerLink]="['/product/detail',data.id]">
		<span class="block-status" *ngIf="data.promotionStatus==1">{{'has_not_rob' |translate}}</span>
		<span class="block-status" *ngIf="data.promotionStatus==2">{{'has_rob' | translate}}</span>
		<span class="block-status" *ngIf="data.promotionStatus==3">{{'has_rob_clear' | translate}}</span>
		<p [routerLink]="['/product/detail',data.productId]">{{data.name}}</p>
		<span class="price" *ngIf="data.type==1">&yen;{{data.price}}</span>
		<span class="price" *ngIf="data.type==2">
				<span class="old-price-list" *ngIf="data.type==2&&data.promotionType==2 || data.type==2&&data.promotionType==1">&yen;{{data.price}}</span>		&yen;{{data.promotionPrice}}
		<span class="txt" *ngIf="data.promotionType==1">{{'zhe' | translate}}</span>
		<span class="txt" *ngIf="data.promotionType==2">{{'jian' | translate}}</span>
		<span class="txt" *ngIf="data.promotionType==3">{{'man' | translate}}</span>
		</span>
		<span class="price" *ngIf="data.type==3"><img src="/phoneweb/app/img/my_integral_icon_2.png">{{data.needCredit}}</span>
		<span class="sale">{{'has_sale_num_before' | translate}}{{data.saleCount}}{{'has_sale_num_after' | translate}}</span>
		<span class="list-btn">
			<a class="ready" *ngIf="data.promotionStatus==1">{{'has_not_rob' |translate}}</a>
			<a *ngIf="data.promotionStatus==2">{{'has_rob' | translate}}</a>
			<a class="end" *ngIf="data.promotionStatus==3">{{'has_rob_clear' | translate}}</a>
			<span *ngIf="data.promotionStatus==2" >{{'has_rob_count_before' | translate}}{{data.promotionSaleCount}}{{'has_rob_count_after' | translate}}</span>
		</span>
		<!-- data.type==1为普通产品 -->
		<!-- data.type==2为促销产品 -->
		<!-- data.type==3为积分产品 -->
		<!-- promotionStatus==1 促销未开始 -->
		<!-- promotionStatus==2 促销已开始 -->
		<!-- promotionStatus==3 促销已结束 -->
		<i *ngIf="data.type==2&&data.promotionType==1" class="promotion-icon"><img src="/assets/img/search_zhe.png"></i>
		<i *ngIf="data.type==2&&data.promotionType==2" class="promotion-icon"><img src="/assets/img/search_jian.png"></i>
		<i *ngIf="data.type==2&&data.promotionType==3" class="promotion-icon"><img src="/assets/img/search_man.png"></i>
	</li>
</ul>

<ul class="product-list clear promotion" [ngClass]="{listdis:!disBlock,blockdis:disBlock}" *ngIf="productType==='promotion'">
	<li *ngFor="let data of productList;let $index=index">
		<img [defaultImage]="defaultImage" [lazyLoad]="data.imagePath" [offset]="100" [routerLink]="['/product/detail',data.productId]">
		<span class="block-status" *ngIf="data.promotionStatus==1">{{'has_not_rob' |translate}}</span>
		<span class="block-status" *ngIf="data.promotionStatus==2">{{'has_rob' | translate}}</span>
		<span class="block-status" *ngIf="data.promotionStatus==3">{{'has_rob_clear' | translate}}</span>
		<p [routerLink]="['/product/detail',data.productId]">【<span *ngIf="data.promotionType===1">{{'zhe' | translate}}</span><span *ngIf="data.promotionType===2">{{'jian' | translate}}</span>
			<span *ngIf="data.promotionType===3">{{'song' | translate}}</span>】{{data.productName}}</p>
		<span class="price">
			<span class="old-price-list">&yen;{{data.price}}</span>&nbsp;&nbsp;&nbsp;&yen;{{data.promotionPrice}}
		<span class="txt" *ngIf="data.promotionType==1">{{'zhe' | translate}}</span>
		<span class="txt" *ngIf="data.promotionType==2">{{'jian' | translate}}</span>
		<span class="txt" *ngIf="data.promotionType==3">{{'song' | translate}}</span>
		</span>
		<span class="price" *ngIf="data.type==3"><img src="/assets/img/my_integral_icon_2.png">{{data.needCredit}}</span>
		<span class="sale">{{'has_sale_num_before' | translate}}{{data.saleCount}}{{'has_sale_num_after' | translate}}</span>
		<span class="list-btn">
			<a class="ready" *ngIf="data.promotionStatus==1">{{'has_not_rob' |translate}}</a>
			<a *ngIf="data.promotionStatus==2">{{'has_rob' | translate}}</a>
			<a class="end" *ngIf="data.promotionStatus==3">{{'has_rob_clear' | translate}}</a>
			<span *ngIf="data.promotionStatus==2" >{{'has_rob_count_before' | translate}}{{data.promotionSaleCount}}{{'has_rob_count_after' | translate}}</span>
		</span>
		<!-- data.type==1为普通产品 -->
		<!-- data.type==2为促销产品 -->
		<!-- data.type==3为积分产品 -->
		<!-- promotionStatus==1 促销未开始 -->
		<!-- promotionStatus==2 促销已开始 -->
		<!-- promotionStatus==3 促销已结束 -->
		<i *ngIf="data.type==2&&data.promotionType==1" class="promotion-icon"><img src="assets/img/search_zhe.png"></i>
		<i *ngIf="data.type==2&&data.promotionType==2" class="promotion-icon"><img src="assets/img/search_jian.png"></i>
		<i *ngIf="data.type==2&&data.promotionType==3" class="promotion-icon"><img src="assets/img/search_man.png"></i>
	</li>
</ul>

<div class="point-list" *ngIf="productType==='point'">
	<dl *ngFor="let point of productList">
		<dt><a [routerLink]="['/product/detail', point.productId]"><img [defaultImage]="defaultImage" [lazyLoad]="point.imagePath" [offset]="100"></a></dt>
		<dd class="txt"><a [routerLink]="['/product/detail', point.productId]">{{point.productName}}</a></dd>
		<dd class="point"><i></i><span>{{point.credit}}</span></dd>
	</dl>
</div>