<div [@flyIn]="list" (pandown)="pandown()" (panend)="panend()">
  <app-loader [isloading]="loading" [ispanning]="panning"></app-loader>
  <app-carousel [data]="topCarousel" [interval]="3000" [height]="7.31" [width]="10" *ngIf="topCarousel"></app-carousel>
  <div class="list" appyellowbg *ngIf="list">
    <div class="item" *ngFor="let item of list" [routerLink]="['/product/detail', item.id]">
      <img [defaultImage]="defaultImage" [lazyLoad]="item.imagePath" [offset]="100">
      <h2 class="line-camp">{{item.name}}</h2>
      <p class="line-ellipsis">{{item.summary}}</p>
    </div>
  </div>
</div>
