<!--[@flyIn]="list"-->
<div>
	<app-header [hasCar]="true" [autoNav]="true"></app-header>
	<i class="search" [routerLink]="['/'+appTag+'/index/search']"></i>
	<app-load-and-refresh [url]="'/api/index/index'" [body]="body" (onRefresh)="refreshData($event)" [disabledLoad]="true">
		<!--class="refresh-content"为组件内嵌tag-->
		<div class="load-and-refresh-content">
			<app-carousel [data]="findData.locationAds[0].ads" [interval]="3000" [height]="7.31" [width]="10" *ngIf="findData.locationAds[0].ads"
			 hasLink="true"></app-carousel>
			<h1>
				<img src="/assets/img/home_icon_new_dis.png">
				<span>{{'new_arrival' | translate}}NEW</span>
			</h1>
			<div class="new" *ngIf="findData.newProducts">
				<dl *ngFor="let new of findData.newProducts">
					<dt>
						<a [routerLink]="['/'+appTag+'/product/detail', new.id]">
              <img [defaultImage]="defaultImage" [lazyLoad]="new.imagePath" [offset]="100">
            </a>
					</dt>
					<dd>
						<span class="price">
					  <span class="new-price">&yen;{{new.promotionPrice||new.price}}</span>
						<span class="old-price" *ngIf="new.promotionType==2||new.promotionType==1">&yen;{{new.price}}</span>
						</span>
						<p>{{new.name}}</p>
						<a [routerLink]="['/'+appTag+'/product/detail', new.id]">{{'buy_immediately'|translate}}</a>
					</dd>
				</dl>
			</div>
			<div class="center-ads">
				<app-carousel [data]="findData.locationAds[1].ads" [interval]="3000" [height]="2.2" [width]="10" *ngIf="findData.locationAds[1].ads"
				 hasLink="true"></app-carousel>
			</div>
			<app-product-list [productList]="findData.hotProducts" *ngIf="findData.hotProducts" [disBlock]="true"></app-product-list>
		</div>
	</app-load-and-refresh>
</div>