<div class="community-edit">
	<app-header class="header" [hasBack]="true">
		<div class="header-content">
			{{'title_activity_publish_forum'|translate}}
			<a (click)="createTopic()">{{'publish_hint'|translate}}</a>
		</div>
	</app-header>

	<div class="edit-con">

		<div class="title">
			<textarea type="text" placeholder="{{'publish_post_title_hint'|translate}}" [(ngModel)]="title"></textarea>
		</div>
		<!--<div class="across-the-line"></div>-->
		<div class="des">
			<textarea type="text" placeholder="{{'publish_post_content_hint'|translate}}" [(ngModel)]="des"></textarea>
		</div>
		<!--<div class="across-the-line"></div>-->
		<div class="photo">

			<ul>
				<li class="img" *ngFor="let item of images">
					<img [src]="item.path" alt="" width="2.16rem" height="2.16rem" />
					<i (click)="delect(item)"></i>
				</li>


				<li class="add" *ngIf="images.length<9">
					<div class="bg"></div>
					<!--<input type="file" ng2FileSelect [uploader]="uploader" (change)="upLoad()" />-->
					<input type="file" accept="image/*" ng2FileSelect [uploader]="uploader" (change)="upLoad($event)" />
				</li>

			</ul>



		</div>

	</div>

</div>