<div class="calendar-main" calendar>
	<app-header [hasBack]="1" [headerTitle]="'screen'|translate"></app-header>
	<div class="menu" *ngIf="userInfo.roleTag==='BranchAdmin'">
		<div class="status-name" (click)="payStateBg=true">
			<span *ngIf="payState==-1">{{'all'|translate}}</span>
			<span *ngIf="payState==0">{{'not_paid'|translate}}</span>
			<span *ngIf="payState==1">{{'already_paid'|translate}}</span>
			<span *ngIf="payState==2">{{'payment_failure'|translate}}</span>
			<span *ngIf="payState==3">{{'already_shipped'|translate}}</span>
			<span *ngIf="payState==4">{{'cash_on_delivery'|translate}}</span>
			<span *ngIf="payState==5">{{'has_been_canceled'|translate}}</span>
			<span *ngIf="payState==6">{{'has_been_completed'|translate}}</span>
		</div>
		<div class="line"></div>
		<div class="classic-name" (click)="classicBg=true">
			<span *ngIf="tag==2">{{'integral_order'|translate}}</span>
			<span *ngIf="tag==1">{{'normal_order'|translate}}</span>
		</div>
		<div class="chose-con">
			<ul class="status" [ngClass]="{show: payStateBg, hide:!payStateBg}" (click)="payStateBg=false">
				<li [ngClass]="{active: payState==-1}" (click)="payState=-1">{{'all'|translate}}</li>
				<li [ngClass]="{active: payState==0}" (click)="payState=0">{{'not_paid'|translate}}</li>
				<li [ngClass]="{active: payState==1}" (click)="payState=1">{{'already_paid'|translate}}</li>
				<li [ngClass]="{active: payState==2}" (click)="payState=2">{{'payment_failure'|translate}}</li>
				<li [ngClass]="{active: payState==3}" (click)="payState=3">{{'already_shipped'|translate}}</li>
				<li [ngClass]="{active: payState==4}" (click)="payState=4">{{'cash_on_delivery'|translate}}</li>
				<li [ngClass]="{active: payState==5}" (click)="payState=5">{{'has_been_canceled'|translate}}</li>
				<li [ngClass]="{active: payState==6}" (click)="payState=6">{{'has_been_completed'|translate}}</li>
			</ul>
			<ul class="classic" [ngClass]="{show: classicBg, hide:!classicBg}" (click)="classicBg=false">
				<li [ngClass]="{active: tag ==2}" (click)="tag=2">{{'integral_order'|translate}}</li>
				<li [ngClass]="{active: tag ==1}" (click)="tag=1">{{'normal_order'|translate}}</li>
			</ul>
			<div class="bg status" [ngClass]="{show: payStateBg, hide: !payStateBg}"></div>
			<div class="bg classic" [ngClass]="{show: classicBg, hide: !classicBg}"></div>
		</div>
	</div>
	<div class="calendar" [style.margin-top.rem]="calendarMarginTop">
		<div class="list" *ngFor="let month of allDays; index as m">
			<h5>{{year}}{{'year'| translate}} {{m+1}} {{'month'| translate}}</h5>
      <ul class="week">
			<li>{{'sun'|translate}}</li>
			<li>{{'mon'|translate}}</li>
			<li>{{'tues'|translate}}</li>
			<li>{{'wed'|translate}}</li>
			<li>{{'thurs'|translate}}</li>
			<li>{{'fri'|translate}}</li>
			<li>{{'sat'|translate}}</li>
		</ul>
			<div *ngFor="let day of month; index as d;" [ngClass]="{start: m+1===startMonth&&day===startDay,end: m+1===endMonth&&day===endDay}">
				<span class="day" (click)="chooseDay(year,m+1,day)">{{day}}</span>
				<span class="tag" *ngIf="m+1===startMonth&&day===startDay">{{'start'|translate}}</span>
				<span class="tag" *ngIf="m+1===endMonth&&day===endDay">{{'end'|translate}}</span>
			</div>
		</div>
	</div>
</div>