<app-swipe-menu class="swipe-menu" [inputId]="true" [productList]="navdata" (childEvent)="getChildEvent($event)"></app-swipe-menu>
<div class="article-list">

  <!--<div class="no-content" *ngIf="articleList===undefined||articleList.length<=0">{{'no_data' | translate}}</div>-->

  <app-load-and-refresh [url]="'/api/article/list'" [body]="loadBody" (onRefresh)="loadData($event)" (onLoad)="loadData($event)">

    <ul class="list load-and-refresh-content">
      <li *ngFor="let article of articleList" [routerLink]="['/' + appTag + '/article/articleDetail', article.id]">
        <img [src]="article.imagePath">
        <dl class="info">
          <dd class="title">{{article.name}}</dd>
          <dd class="des">{{article.summary}}</dd>
          <dd class="date">{{article.updateTime}}</dd>
        </dl>
      </li>
    </ul>
  </app-load-and-refresh>
</div>