<div class="car-main" car>
  <app-header class="header" [hasBack]="true">
    <div class="header-content">
      <span (click)="chosePro()">
        <label>{{typeName| translate}}</label>
        <i></i>
      </span>
      <a class="edit" (click)="showEdit=!showEdit" *ngIf="!showEdit && cartProducts.length>0">{{'edit' | translate}}</a>
      <a class="edit" (click)="showEdit=!showEdit" *ngIf="showEdit && cartProducts.length>0">{{'complete' | translate}}</a>
    </div>
  </app-header>
  <ul class="car-top" [ngClass]="{'active': proTypeToggle}">
    <li [ngClass]="{active: typeName==='shop_car_product'}" (click)="chosePro(1)">
      {{'product' | translate}}
    </li>
    <li [ngClass]="{active: typeName==='shop_car_integral_mall'}" (click)="chosePro(2)">
      {{'integral_mall' | translate}}
    </li>
  </ul>
  <!--没有数据的时候-->
  <div class="no-data" *ngIf="!cartProducts.length">
    <div>
      <img src="assets/img/dis_blank.png">
      <p>{{'no_data' | translate}}</p>
    </div>
  </div>
  <!--有数据的时候-->
  <ul class="list" *ngIf="cartProducts.length">
    <li *ngFor="let list of cartProducts;let $index=index" [ngClass]="{'active':list.choseActive}">
      <i (click)="productActive(list)"></i>
      <img [lazyLoad]="list.imagePath">
      <dl>
        <dd class="product-name" ui-sref="product-detail( {id: list.productId} )">
          {{list.name}}
        </dd>
        <dd class="list-size">
          {{list.specStr}}
        </dd>
        <dd class="price">
          <span *ngIf="!list.needCredit">&yen;&nbsp;
            <span class="cost">
              {{list.promotionPrice || list.price}}
            </span>
          </span>
          <span *ngIf="list.needCredit" class="credit-cast">
            <i></i>&nbsp;
            <span class="cost">{{list.needCredit}}</span>
          </span>
          <span class="discount" *ngIf="list.type==2&&list.promotionType==1">
            {{list.promotionValue}}{{'discount'|translate}}
          </span>
          <span class="discount" *ngIf="list.type==2&&list.promotionType==2">
            {{'subtract'|translate}}
          </span>
          <span class="discount" *ngIf="list.type==2&&list.promotionType==3">
            {{'give'|translate}}
          </span>
          <!--<addcut maxcount="{{list.inventory}}" limitnum="{{list.promotionLimitNum}}" count="{{list.number}}"></addcut>-->
          <app-addcut [maxInventory]="list.inventory" [limitNum]="list.promotionLimitNum" (childEvent)="getChildEvent($event,list.productId,$index)"></app-addcut>
        </dd>
      </dl>
    </li>
  </ul>
  <div style="height: 1.2rem;"></div>
  <div class="car-bottom" *ngIf="userinfo.roleTag=='AppUser'">
    <i (click)="checkAll()" [ngClass]="{'active':allCheck}"></i>
    <p>
      <span>{{'shop_car_total' | translate}}</span>
      <span class="price carPrice">{{totalprice | currency:'USD':true}}</span>
      <span>{{'not_ship' | translate}}</span>
    </p>
    <a (click)="confirm()">
			{{'shop_car_settlement_before' | translate}}{{'shop_car_settlement_after' | translate}}
			<!--{{'to_cast_before' | translate}}{{'to_cast_after' | translate}}-->
      <span class="carCount"></span>
    </a>
  </div>
  <div class="car-bottom edit" [ngClass]="{'active':showEdit}">
    <i (click)="checkAll()" [ngClass]="{'active':allCheck}"></i>
    <p>{{'select_all'|translate}}</p>
    <a class="deleteItem" (click)="deleteOrder()">{{'delete'|translate}}</a>
  </div>
</div>