<div class="take-comments-main">
  <app-header [hasBack]="1" [headerTitle]="'立即评价'"></app-header>
	<ul class="list">
		<li *ngFor="let product of list;let $index=index">
			<img [src]="product.imagePath">
			<textarea placeholder="{{'how_the_product' | translate}}" [(ngModel)]="product.content"></textarea>
			<div>
				<span>{{'total_potion' | translate}}</span>
        <app-star (childEvent)="getChildEvent($event,$index)"></app-star>
				<!--<star totalstar="5"></star>-->
			</div>
		</li>
	</ul>
	<button type="button" (click)="commit()">{{'immediate_evaluation' | translate}}</button>
</div>