<carousel>
  <slide *ngFor="let carousel of topcarousel">
    <img [defaultImage]="defaultImage" [lazyLoad]="carousel.imagePath" title="jdkajkdjal" i18n-title="aaaa|bbbb">
  </slide>
</carousel>
<div class="list" appyellowbg>
  <div class="item" *ngFor="let item of list" [routerLink]="['/product', item.id]">
    <img [defaultImage]="defaultImage" [lazyLoad]="item.imagePath" [offset]="100">
    <h2 class="line-camp">{{item.name}}</h2>
    <p class="line-ellipsis">{{item.summary}}</p>
  </div>
</div>
