<div class="branch-main">
  <app-header [headerTitle]="'title_activity_shopGuide'|translate" [hasBack]="true"></app-header>
  <app-load-and-refresh [url]="'/api/branch/list'" [body]="loadBody" (onRefresh)="refreshData($event)" (onLoad)="loadData($event)"
    [dataKey]="'branches'">
    <div class="load-and-refresh-content">
      <div class="list" *ngIf="list.length>0;else elseBlock">
        <dl *ngFor="let item of list" (click)="getGuideList(item.id)">
          <dd class="part">{{item.province}}</dd>
          <dd class="name">{{item.name}}</dd>
          <dd class="address">{{item.province}}{{item.city}}{{item.area}}{{item.address}}</dd>
          <dd class="arrow"></dd>
        </dl>
      </div>
      <ng-template #elseBlock>
        <div class="no-content">{{'no_data' | translate}}</div>
      </ng-template>
    </div>
  </app-load-and-refresh>
  <app-guide-list [guides]="guides" [toggle]="toggle" (outGuideToggleValue)="outGuideToggleValue($event)"></app-guide-list>
</div>