<div [@flyIn]="list">
  <app-header [hasBack]="true">
    <div class="header-content">
      <form>
        <input placeholder="请输入搜索内容" [(ngModel)]="keyword" name="keyword">
        <span (click)="search(lineLeaveLeft)">搜索</span>
      </form>
    </div>
  </app-header>
  <ul class="menu">
    <!--下划线-->
    <li class="menu-line" [style.left.rem]="lineLeaveLeft"></li>
    <li (click)="lineLeaveLeft=0" [ngClass]="{active: lineLeaveLeft===0}">
      <b class="product" (click)="classic=!classic;lineLeaveLeft=0" [ngClass]="{down: !classic,up: classic}">产品</b>
      <ul class="classic" *ngIf="classic">
        <li (click)="classic=!classic">产品</li>
        <!--<li>促销</li>-->
      </ul>
    </li>
    <li (click)="search(2)" [ngClass]="{active: lineLeaveLeft===2,up: timeDirection===1||!timeDirection,down: timeDirection===2}">时间</li>
    <li (click)="search(4)" [ngClass]="{active: lineLeaveLeft===4,up: saleDirection===1||!saleDirection,down: saleDirection===2}">销量</li>
    <li (click)="search(6)" [ngClass]="{active: lineLeaveLeft===6,up: priceDirection===1||!priceDirection,down: priceDirection===2}">价格</li>
    <li (click)="listLayout=!listLayout" [ngClass]="{listbtn: !listLayout,blockbtn: listLayout}"></li>
  </ul>
  <div class="seat"></div>
  <ul class="list" [ngClass]="{listdis: !listLayout,blockdis: listLayout}">
    <li class="clear" [routerLink]="['/product/detail/', item.id]" *ngFor="let item of list">
      <img [defaultImage]="defaultImage" [lazyLoad]="item.imagePath" [offset]="100">
      <p class="line-camp">{{item.name}}</p>
      <span class="price">¥{{item.price}}</span>
      <span class="sale">已售{{item.saleCount}}件</span>
    </li>
  </ul>
</div>
